<div class="flex-container">
    
    <div> <a href="#1">angular-rails-templates</a><hr>
             <p> use your angular templates with rails' asser pipline</p><hr>
             <button class="button-18" role="button"> rails</button>&nbsp; <button class="button-18">angular</button>&nbsp;<button class="button-18" role="button"> rails-assets-pipline</button> &nbsp;<button class="button-18" role="button"> angular templates</button>
           </div>
        
         <div> <a href="#1">30-second-0f-code</a><hr>
             <p> shortcut code snippet for all your Development needs</p><hr>
             <button class="button-18" role="button"> javascript</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> css</button> &nbsp;<button class="button-18" role="button"> venu</button>
           </div>
</div><br>
<div class="flex-container">
    <div> <a href="#1">ng-event-option</a><hr>
            <p>Enable event option(capture,passive,..etc,..) inside angular templates</p><hr>
            <button class="button-18" role="button"> angularjs</button>&nbsp; <button class="button-18">admin-dashboard</button>&nbsp;<button class="button-18" role="button"> angular-component</button> &nbsp;<button class="button-18" role="button"> angular-kits</button>
          </div>
        <div> <a href="#1">notus-anangular</a><hr>
                 <p>Notus AngularFree Tailwind CSS UI kit and Admin</p><hr>
                 <button class="button-18" role="button"> admin</button>&nbsp; <button class="button-18">kit</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> angular-kits</button>
               </div>

</div><br>
<div class="flex-container">
    <div> <a href="#1">html5</a><hr>
             <p> frontended templates for building fast robust adapt web apps</p><hr>
             <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
            </div>
         <div> <a href="#1">material-pro-angular-lite</a><hr>
            <p>⚡⚡A collection of Angular best practices and tips for building fast, <br>
             scalable enterprise level applications! Awesome coding! 😎🤘</p><hr>
            <button class="button-18" role="button"> angular</button>&nbsp; <button class="button-18">best-practices</button>&nbsp;<button class="button-18" role="button">reference material</button> &nbsp;<button class="button-18" role="button"> angular templates</button>
             
           </div>
       
        
  </div><br>
  <div class="flex-container">
    
    <div> <a href="#1">bulma</a><hr>
             <p> modem css framework based on flexbook</p><hr>
             <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
            </div>
        <div> <a href="#1">ng-event-option</a><hr>
            <p>Enable event option(capture,passive,..etc,..) inside angular templates</p><hr>
            <button class="button-18" role="button"> angularjs</button>&nbsp; <button class="button-18">admin-dashboard</button>&nbsp;<button class="button-18" role="button"> angular-component</button> &nbsp;<button class="button-18" role="button"> angular-kits</button>
          </div>
    </div><br>
        <div class="flex-container">
            <div> <a href="#1">electron</a><hr>
                     <p> building cross platform desktop and smart phone</p><hr>
                     <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
                    </div>
                 <div> <a href="#1">angular-rails-templates</a><hr>
                     <p> use your angular templates with rails' asser pipline</p><hr>
                     <button class="button-18" role="button"> rails</button>&nbsp; <button class="button-18">angular</button>&nbsp;<button class="button-18" role="button"> rails-assets-pipline</button> &nbsp;<button class="button-18" role="button"> angular templates</button>
                   </div>
                
              
                
                
        </div><br>