<div class="flex-container">
    <div> <a href="#1">project</a><hr>
     <p> Source Code of all projects that I upload on Instagram</p><hr>
     <button class="button-18" role="button"> javascript</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> css</button> &nbsp;<button class="button-18" role="button"> venu</button>
   </div>
   <div> <a href="#1">boostrap</a><hr>
     <p> the most popular html,css and javascript framework  for developing responsive mobile</p><hr>
     <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
    </div>
</div><br>

<div class="flex-container">
    <div> <a href="#1">30-second-0f-code</a><hr>
     <p> shortcut code snippet for all your Development needs</p><hr>
     <button class="button-18" role="button"> javascript</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> css</button> &nbsp;<button class="button-18" role="button"> venu</button>
   </div>
   <div> <a href="#1">electron</a><hr>
     <p> building cross platform desktop and smart phone</p><hr>
     <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
    </div>
</div><br>

<div class="flex-container">
    <div> <a href="#1">story book</a><hr>
     <p> Story book using frondended building ui component and page isolation</p><hr>
     <button class="button-18" role="button"> javascript</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> css</button> &nbsp;<button class="button-18" role="button"> venu</button>
   </div>
   <div> <a href="#1">app-idea</a><hr>
     <p> a collection of applications improving skills </p><hr>
     <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
    </div>
</div><br>

<div class="flex-container">
    <div> <a href="#1">frondended</a><hr>
     <p>frondended checklist for modern websites and developers</p><hr>
     <button class="button-18" role="button"> javascript</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> css</button> &nbsp;<button class="button-18" role="button"> venu</button>
   </div>
   <div> <a href="#1">html5</a><hr>
     <p> frontended templates for building fast robust adapt web apps</p><hr>
     <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
    </div>
</div><br>


<div class="flex-container">
    <div> <a href="#1">rails</a><hr>
     <p> Source Code of all projects that I upload on rails</p><hr>
     <button class="button-18" role="button"> javascript</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> css</button> &nbsp;<button class="button-18" role="button"> venu</button>
   </div>
   <div> <a href="#1">bulma</a><hr>
     <p> modem css framework based on flexbook</p><hr>
     <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
    </div>
</div><br>