<div class="flex-container">
    <div> <a href="#1">dev-infra</a><hr>
     <p>Angular Development Infrastructure </p><hr>
     <button class="button-18" role="button"> angular</button>&nbsp; <button class="button-18">best-practices</button>&nbsp;<button class="button-18" role="button">reference material</button> &nbsp;<button class="button-18" role="button"> angular templates</button>
      
    </div>
    <div> <a href="#1">components</a><hr>
     <p>Component infrastructure and Material Design components for Angular</p><hr>
     <button class="button-18" role="button"> materialdesgin</button>&nbsp; <button class="button-18">angular</button>&nbsp;<button class="button-18" role="button"> angular-component</button> &nbsp;<button class="button-18" role="button"> angular-kits</button>
   </div>
  </div><br>

  <div class="flex-container">
    <div> <a href="#1">notus-anangular</a><hr>
             <p>Notus AngularFree Tailwind CSS UI kit and Admin</p><hr>
             <button class="button-18" role="button"> admin</button>&nbsp; <button class="button-18">kit</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> angular-kits</button>
            </div>
        
           <div> <a href="#1">dev-infra</a><hr>
            <p>Angular Development Infrastructure </p><hr>
            <button class="button-18" role="button"> angular</button>&nbsp; <button class="button-18">best-practices</button>&nbsp;<button class="button-18" role="button">reference material</button> &nbsp;<button class="button-18" role="button"> angular templates</button>
             
           </div>
  </div><br>



<div class="flex-container">
    <div> <a href="#1">angular-rails-templates</a><hr>
     <p> use your angular templates with rails' asser pipline</p><hr>
     <button class="button-18" role="button"> rails</button>&nbsp; <button class="button-18">angular</button>&nbsp;<button class="button-18" role="button"> rails-assets-pipline</button> &nbsp;<button class="button-18" role="button"> angular templates</button>
   </div>
   <div> <a href="#1">notus-anangular</a><hr>
     <p>Notus AngularFree Tailwind CSS UI kit and Admin</p><hr>
     <button class="button-18" role="button"> admin</button>&nbsp; <button class="button-18">kit</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> angular-kits</button>
    </div>
</div><br>
   
<div class="flex-container">
    <div> <a href="#1">bulma</a><hr>
             <p> modem css framework based on flexbook</p><hr>
             <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
            </div>
        <div> <a href="#1">notus-anangular</a><hr>
             <p>Notus AngularFree Tailwind CSS UI kit and Admin</p><hr>
             <button class="button-18" role="button"> admin</button>&nbsp; <button class="button-18">kit</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> angular-kits</button>
           </div>s
  </div><br>
  <div class="flex-container">
    <div> <a href="#1">html5</a><hr>
             <p> frontended templates for building fast robust adapt web apps</p><hr>
             <button class="button-18" role="button"> css</button>&nbsp; <button class="button-18">html</button>&nbsp;<button class="button-18" role="button"> Tailwind-css-templates</button> &nbsp;<button class="button-18" role="button"> scss</button>
            </div>
        <div> <a href="#1">angular-pwa-builds</a><hr>
             <p>Projeto de reprodução de páginas sobre alimentos</p>
             <button class="button-18" role="button"> javascript</button>
            </div>
        
        
  </div><br>